@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif; 
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

form input, form button {
    margin: 8px 0;
}

.btn {
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid rgba(25,133,50,1);
    background: rgb(75,193,104);
    background: linear-gradient(180deg, rgba(75,193,104,1) 12%, rgba(25,133,50,1) 100%);
}

input {
    width: 65%;
    padding: 3px;
}

label {
    width: 35%;
    font-size: 12px;
    font-weight: bolder;
}

.login__wrapper {
    border-radius: 3px;
    margin: 10% auto 0;
    width: 300px;
    border: 1px solid #70befd;
    overflow: hidden;
}

.login__header, .feed__title {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    letter-spacing: 2px;
    color: #d8e1e9;
    background: #7cb7e6;
    background: linear-gradient(180deg, rgb(97, 153, 199) 0%, rgb(47, 80, 114) 100%);
    padding: 5px;
    text-align: center;
}

.password__link {
    color: blue;
    font-size: 12px;
}

.password__link:visited {
    color: blue;
}


/** USER FEED **/

nav {
    background: #7cb7e6;
    background: linear-gradient(180deg, rgb(97, 153, 199) 0%, rgb(47, 80, 114) 100%);
}

.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 40px;
}

.navbar i {
    font-size: 20px;
    border-left: 1px solid rgb(255, 255, 255, 0.4);
    border-right: 1px solid rgb(255, 255, 255, 0.4);
    box-shadow: 1px 0px 0px 0px rgba(73, 73, 73, 0.5),
                -1px 0px 0px 0px rgba(73, 73, 73, 0.5);
    padding: 0 15px;
    height: 100%;
    line-height: 40px;
}

.nav__user-info {
    display: flex;
    align-items: center;;
    border-left: 1px solid rgb(255, 255, 255, 0.4);
    border-right: 1px solid rgb(255, 255, 255, 0.4);
    box-shadow: 1px 0px 0px 0px rgba(73, 73, 73, 0.5),
                -1px 0px 0px 0px rgba(73, 73, 73, 0.5);
    padding: 0 15px;
    height: 100%;
}

.nav__profile {
    margin-left: 10px;
}
.nav__profile-img {
    width: 30px;
    height: 30px;
}
.feed {
    background-color: #b4b4b4;
}

.wrapper {
    background-color: #e0e1e2;
    width: 50%;
    margin: 0 auto;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    padding: 25px;
}

.photo-entry {
    border: 1px solid #aaa;
    background-color:#fff;
    margin: 50px 0;
    box-shadow: 1px 0px 8px 0px rgba(87, 87, 87, 0.35),
                -1px 0px 8px 0px rgba(87, 87, 87, 0.35);
}

.photo-navbar {
    background-color: #eee;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.photo-likes {
    padding: 5px;
    flex: 1;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.photo-navbar i {
    color: #999;
    padding: 0 10px;
}
.comments {
    margin: 10px 0;
}
.comment {
    padding: 5px 10px;
    font-size: 12px;
}

.author {
    color: #326eaa;
    font-weight: bolder;
}
.comment-form {
    margin: 0;
    padding: 0 5px;
}
.comment-input {
    width: 100%;
    margin: 0 0 2px;
}

/*** MEDIA QUERIES ***/

@media screen and (max-width: 800px) {
    .wrapper {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        width: 100%;
    }
}